@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Manrope-Light.woff2") format("woff2");
  src: url("../fonts/Manrope-Light.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  src: url("../fonts/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Manrope-Semibold.woff2") format("woff2");
  src: url("../fonts/Manrope-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
  src: url("../fonts/Manrope-Bold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border-radius: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  font-family: 'Manrope';
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

button {
  font-family: 'Manrope';
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 12px 5px;
  text-align: center;
  color: #000;
  background-color: #fff;
  max-width: 235px;
  width: 100%;
  border-radius: 20px;
  font-size: 20px;
}

.btn--two {
  background-color: transparent;
  border: 1px solid #FFF;
  color: #fff;
}

.title {
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 87px;
}

.title-two {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 28px;
}

.main-wrapper {
  background-image: linear-gradient(121deg, #438BDF 0%, rgba(83, 217, 226, 0.92) 100%);
}

.header {
  padding: 26px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 430px;
  width: 100%;
}

.header__num {
  display: block;
  font-weight: 300;
  margin-right: 32px;
  color: #fff;
}

.header__btn {
  font-size: 16px;
}

.logo {
  margin-bottom: 7px;
}

.menu {
  margin: 0 20px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 76px;
}

.menu__link {
  color: #fff;
  font-weight: 300;
}

.top {
  padding: 100px 0 135px;
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__left {
  max-width: 700px;
  width: 100%;
}

.top__title {
  margin-bottom: 16px;
}

.top__subtitle {
  display: block;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 46px;
}

.top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__btn {
  padding: 18.5px 5px;
  line-height: 158%;
}

.top__btn--first {
  max-width: 202px;
  margin-right: 32px;
}

.top__right {
  margin-top: -185px;
  max-width: 900px;
}

.top__img {
  width: 100%;
}

.about {
  padding-top: 135px;
}

.about__inner {
  background-color: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 62px 127px 0 127px;
  -webkit-filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.25));
  color: #000000;
  overflow: hidden;
}

.about__title {
  color: #3F82D0;
}

.about__text {
  margin-bottom: 74px;
  line-height: 33px;
  font-size: 24px;
}

.about__subtitle {
  display: block;
  margin-bottom: 45px;
  font-size: 24px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 52px;
}

.about__item {
  position: relative;
  left: 0;
  max-width: 341px;
  width: 100%;
  border-radius: 35px;
}

.about__item:hover .about__item-content {
  background-color: #3F82D0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.about__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 35px;
}

.about__item:first-child .about__item-content::before {
  content: '';
  position: absolute;
  min-width: 1585px;
  min-height: 475px;
  height: 100%;
  background-image: url("../img/about-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  left: 100%;
  top: -40px;
  z-index: 1;
  pointer-events: none;
  -webkit-transform: translateX(-34%);
      -ms-transform: translateX(-34%);
          transform: translateX(-34%);
}

.about__item:first-child .about__item-text::before {
  background-image: url("../img/icons/about-2.png");
}

.about__item:nth-child(2) {
  margin: 0 30px;
}

.about__item:nth-child(2) .about__item-text::before {
  background-image: url("../img/icons/about-1.png");
}

.about__item:last-child .about__item-text::before {
  background-image: url("../img/icons/about-3.png");
}

.about__item-content {
  border-radius: 35px;
  width: 100%;
  height: 100%;
  padding: 79px 15px 97px 15px;
  background-color: #53D9E2;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.about__item-text {
  position: relative;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 110px;
  color: #ffffff;
  text-align: center;
  z-index: 3;
}

.about__item-text::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 78px;
  height: 78px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__box {
  text-align: center;
}

.about__btn {
  background-image: linear-gradient(113deg, #3F82D0 0%, rgba(0, 213, 227, 0.63) 100%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #FFF;
}

.team__wrapper {
  position: relative;
}

.team__wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  max-height: 230px;
  height: 100%;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom-right-radius: 151px;
  border-bottom-left-radius: 151px;
}

.team__inner {
  position: relative;
  padding: 240px 185px 115px 185px;
  border-bottom-right-radius: 151px;
  border-bottom-left-radius: 151px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 3;
}

.team__title {
  margin-bottom: 98px;
  text-align: center;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 125px;
  margin-bottom: 100px;
}

.team__item {
  border-radius: 35px;
  background-color: #fff;
  padding: 32px;
  max-width: 318px;
}

.team__box {
  margin-bottom: 36px;
}

.team__img {
  width: 100%;
  border-radius: 25px;
}

.team__name {
  color: black;
  margin-bottom: 26px;
  font-weight: 600;
  margin-left: 3px;
}

.team__post {
  display: block;
  color: black;
  margin-left: 3px;
}

.team__text {
  text-align: center;
  line-height: 33px;
}

.why__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
