body
  font-family: 'Manrope'
  font-size: 20px
  font-weight: 400
  color: #fff
  overflow-x: hidden

button
  font-family: 'Manrope'

.container
  max-width: 1630px
  margin: 0 auto
  padding: 0 15px

.btn
  display: inline-block
  padding: 12px 5px
  text-align: center
  color: #000
  background-color: #fff
  max-width: 235px
  width: 100%
  border-radius: 20px
  font-size: 20px

  @include _1200
    max-width: 180px
    border-radius: 12px
    padding: 10px 5px
    font-size: 14px

  @include _575
    max-width: 153px
    padding: 6px 5px
    border-radius: 8px

  &--two
    background-color: transparent
    border: 1px solid #FFF
    color: #fff

.title
  font-size: 64px
  font-weight: 600
  text-transform: uppercase
  line-height: 87px

  @include _1200
    font-size: 48px
    line-height: 124%

  @include _991
    font-size: 36px

.title-two
  font-size: 48px
  font-weight: 600
  color: #ffffff
  margin-bottom: 28px

  @include _1200
    font-size: 38px
    margin-bottom: 18px

  @include _575
    font-size: 32px
    margin-bottom: 16px

.btn-anim-color
  border: 1px solid transparent
  transition: background-color .3s, border-color .3s, color .3s

  &:hover
    background-color: transparent
    border-color: #fff
    color: #fff
    transition: background-color .3s, border-color .3s, color .3s

.btn-anim-border
  transition: background-color .3s, color .3s

  &:hover
    background-color: #fff
    color: #000
    transition: background-color .3s, color .3s

.anim-line
  position: relative

  &::before
    content: ''
    position: absolute
    width: 0
    height: 2px
    background-color: #fff
    bottom: 0
    left: 0
    transition: width .3s

  &:hover
    &::before
      width: 100%
      transition: width .3s