@import fonts
@import vars
@import reset
@import libs
@import global

.c-scrollbar_thumb
  background-color: #fff
  opacity: 0.6

.main-wrapper
  background-image: linear-gradient(121deg, #438BDF 0%, rgba(83, 217, 226, 0.92) 100%)

.decision-wrapper
  background-image: linear-gradient(131deg, #60DBE3 0%, #3F82D0 80.39%)

.study-wrapper
  background-image: linear-gradient(119deg, #3F82D0 0%, rgba(83, 217, 226, 0.92) 100%)

.header
  padding: 26px 0

  @include _767
    padding: 14px 0

  &__inner
    display: flex
    align-items: center
    justify-content: space-between

  &__right
    display: flex
    align-items: center
    max-width: 430px
    width: 100%    

    @include _1200
      justify-content: flex-end

  &__num
    display: block
    font-weight: 300
    margin-right: 32px
    padding-top: 6px
    padding-bottom: 6px
    color: #fff

    @include _1400
      font-size: 18px

    @include _1200
      color: #000
      text-align: center
      margin-right: 0

    &--main
      @include _1200
        display: none

    &--small
      display: none

      @include _1200
        display: block

  &__btn
    font-size: 16px

    @include _1200
      font-size: 12px

    @include _575
      font-size: 10px

  &__burger
    display: none
    width: 24px
    height: 16px
    background-color: transparent
    margin-left: 16px
    position: relative
    z-index: 102
    transition: transform 1s

    @include _1200
      display: block

    &::before,
    &::after
      content: ''
      position: absolute
      width: 100%
      height: 2px
      left: 0
      background-color: #ffffff

    &::before
      top: 0
      transition: background-color 1s, opacity 1s

    &::after
      bottom: 0
      transition: background-color 1s, transform 1s

    &--active
      transform: rotate(45deg)
      transition: transform 1s

      &::before,
      &::after
        background-color: #3F82D0

      &::before
        opacity: 0
        transition: background-color 1s, opacity 1s

      &::after
        transform: rotate(90deg) translateX(-7px)
        transition: background-color 1s, transform 1s

      .header__burger-icon
        background-color: #3F82D0
        transition: background-color 1s

  &__burger-icon
    display: flex
    justify-content: center
    align-items: center
    height: 2px
    width: 100%
    background-color: #ffffff
    transition: background-color 1s, transform 1s

.logo
  display: block
  margin-bottom: 7px

  @include _575
    margin-right: 20px

  &__img
    width: 100%

    @include _575
      max-width: 120px

.menu
  margin: 0 20px

  @include _1200
    position: absolute
    left: 0
    top: 0
    width: 100%
    min-height: 100vh
    background-color: #fff
    z-index: 100
    margin: 0
    padding: 130px 30px 30px 30px
    transform: translatex(100%)
    transition: transform cubic-bezier(.11,.75,.48,.98) 1s

  &--active
    transform: translatex(0)
    transition: transform cubic-bezier(.11,.75,.48,.98) 1s

  &--footer
    padding: 5px 0 27px 44px
    position: relative

    &::before
      content: ''
      position: absolute
      height: 100%
      width: 3px
      background-color: #fff
      left: 0
      top: 0

    .menu__list
      flex-wrap: wrap
      gap: 46px 0
      max-width: 760px

    .menu__item
      &:not(:last-child)
        margin-right: 46px

  &__list
    display: flex
    align-items: center

    @include _1200
      display: block
      margin-bottom: 100px

  &__item
    @include _1200
      text-align: center
    
    &:not(:last-child)
      margin-right: 76px

      @include _1400
        margin-right: 30px

      @include _1200
        margin-right: 0
        margin-bottom: 36px

  &__link
    color: #fff
    font-weight: 300
    white-space: nowrap
    padding-bottom: 3px
    position: relative

    @include _1400
      font-size: 18px

    @include _1200
      color: #000
      padding: 10px 0

    &::before
      content: ''
      position: absolute
      width: 0
      height: 2px
      background-color: #fff
      bottom: 0
      left: 0
      transition: width .3s

    &:hover
      &::before
        width: 100%
        transition: width .3s

.top
  padding: 100px 0 20px
  min-height: calc(100vh - 123px)

  @include _767
    padding: 36px 0 20px

  &__inner
    display: flex
    justify-content: space-between

    @include _767
      display: block

  &__left
    max-width: 700px
    width: 100%

    @include _1200
      max-width: 520px

    @include _767
      max-width: 450px
      margin: 0 auto

  &__title
    margin-bottom: 16px
    line-height: 70px

  &__subtitle
    display: block
    font-size: 24px
    font-weight: 300
    margin-bottom: 46px

    @include _1200
      font-size: 20px

    @include _767
      font-size: 16px
      margin-bottom: 26px

  &__box
    display: flex

    @include _767
      display: block

  &__btn
    padding: 18.5px 5px
    line-height: 158%

    @include _767
      max-width: 202px

    @include _1200
      padding: 9px 5px

    &--first
      max-width: 202px
      margin-right: 32px

      @include _767
        display: block
        margin-right: 0
        margin-bottom: 16px

    &--second
      @include _767
        padding: 8px 5px

  &__right
    margin-top: -185px
    max-width: 900px
    pointer-events: none

    @include _1400
      margin-top: 0

    @include _767
      display: none

  &__img
    width: 100%

.about
  padding-top: 135px

  @include _767
    padding-top: 16px

  &__inner
    background-color: #fff
    border-top-left-radius: 100px
    border-top-right-radius: 100px
    padding: 62px 127px 0 127px
    filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.25))
    color: #000000
    overflow: hidden

    @include _1200
      padding: 62px 62px 0 62px
      border-top-left-radius: 56px
      border-top-right-radius: 56px

    @include _575
      padding: 32px 20px 0 20px
      border-top-left-radius: 32px
      border-top-right-radius: 32px

  &__title
    color: #3F82D0

  &__text
    margin-bottom: 74px
    line-height: 33px
    font-size: 24px

    @include _1200
      font-size: 20px
      margin-bottom: 45px

    @include _767
      font-size: 18px
      line-height: 38px
      margin-bottom: 26px

    @include _575
      font-size: 16px
      line-height: 22px

  &__subtitle
    display: block
    margin-bottom: 45px
    font-size: 24px

    @include _1200
      font-size: 20px

    @include _767
      font-size: 18px

    @include _575
      font-size: 16px

  &__items
    display: flex
    justify-content: space-between
    margin-bottom: 52px

    @include _767
      display: block

  &__item
    position: relative
    left: 0
    max-width: 341px
    width: 100%
    border-radius: 35px

    @include _767
      max-width: 100%

    &:hover
      .about__item-content
        background-color: #3F82D0
        transition: background-color .3s

    &::after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(255,255,255, 0.2)
      backdrop-filter: blur(50px)
      top: 0
      left: 0
      z-index: 2
      border-radius: 35px
      
    &:first-child
      .about__item-content
        &::before
          content: ''
          position: absolute
          min-width: 1585px
          min-height: 475px
          height: 100%
          background-image: url('../img/about-bg.svg')
          background-repeat: no-repeat
          background-size: cover
          left: 100%
          top: -40px
          z-index: 1
          pointer-events: none
          transform: translateX(-34%)

          @include _767
            left: auto
            right: -50%
            top: 103%
            transform: translateX(16%) rotate(90deg)
            min-width: 1300px
            min-height: 360px
            background-size: contain

          @include _575
            transform: translateX(20%) rotate(90deg)

      .about__item-text
        &::before
          background-image: url('../img/icons/about-2.png')

    &:nth-child(2)
      margin: 0 30px

      @include _767
        margin: 30px 0

      .about__item-text
        &::before
          background-image: url('../img/icons/about-1.png')

    &:last-child
      .about__item-text
        &::before
          background-image: url('../img/icons/about-3.png')

  &__item-content
    border-radius: 35px
    width: 100%
    height: 100%
    padding: 79px 15px 97px 15px
    background-color: #53D9E2
    transition: background-color .3s

  &__item-text
    position: relative
    font-size: 35px
    font-weight: 700
    line-height: 48px
    padding-top: 110px
    color: #ffffff
    text-align: center
    z-index: 3

    @include _1400
      font-size: 26px
      line-height: 36px

    @include _991
      font-size: 17px
      line-height: 26px

    @include _767
      font-size: 18px

    &::before
      content: ''
      position: absolute
      background-repeat: no-repeat
      background-size: contain
      width: 78px
      height: 78px
      top: 0
      left: 50%
      transform: translateX(-50%)

  &__box
    text-align: center

  &__btn
    background-image: linear-gradient(113deg, #3F82D0 0%, rgba(0, 213, 227, 0.63) 100%)
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset
    color: #FFF
    transition: box-shadow .3s

    &:hover
      box-shadow: 0px 30px 4px 0px rgba(0, 0, 0, 0.5) inset
      transition: box-shadow .3s

.team
  &__wrapper
    position: relative

    &::before
      content: ''
      position: absolute
      width: 100%
      max-height: 230px
      height: 100%
      background-color: #FFF
      left: 0
      top: -2px
      z-index: 2
      border-bottom-right-radius: 151px 
      border-bottom-left-radius: 151px

      @include _1200
        border-bottom-right-radius: 56px 
        border-bottom-left-radius: 56px
        max-height: 130px

      @include _575
        max-height: 65px
        border-bottom-right-radius: 32px 
        border-bottom-left-radius: 32px

  &__inner
    position: relative
    padding: 240px 185px 115px 185px
    border-bottom-right-radius: 151px 
    border-bottom-left-radius: 151px
    background-color: rgba(255, 255, 255, 0.20)
    backdrop-filter: blur(50px)
    z-index: 3

    @include _1200
      backdrop-filter: blur(15px)
      padding: 170px 62px 60px 62px
      border-bottom-right-radius: 56px 
      border-bottom-left-radius: 56px

    @include _575
      padding: 100px 20px 36px 20px
      border-bottom-right-radius: 32px 
      border-bottom-left-radius: 32px
      backdrop-filter: blur(8px)

  &__title
    display: flex
    justify-content: center
    margin-bottom: 98px
    text-align: center

    @include _767
      margin-bottom: 66px

    span
      display: block

      &:nth-child(4)
        margin-right: 10px

  &__items
    display: flex
    flex-wrap: wrap
    justify-content: center 
    gap: 125px
    margin-bottom: 100px

    @include _1200
      gap: 56px

    @include _767
      margin-bottom: 46px

    @include _575
      gap: 26px
    
  &__item
    border-radius: 35px
    background-color: #fff
    padding: 32px
    max-width: 318px

    @include _991
      max-width: 280px

    @include _767
      padding: 16px 16px 26px 16px
      border-radius: 22px

  &__box
    margin-bottom: 36px

    @include _767
      margin-bottom: 26px

  &__img
    width: 100%
    border-radius: 25px

    @include _767
      border-radius: 18px
    
  &__name
    color: black
    margin-bottom: 26px
    font-weight: 600
    margin-left: 3px

    @include _991
      font-size: 18px
      margin-bottom: 16px

    @include _767
      font-size: 16px
      margin-bottom: 12px

  &__post
    display: block
    color: black
    margin-left: 3px

    @include _991
      font-size: 16px

    @include _767
      font-size: 14px

  &__text
    text-align: center
    line-height: 33px

    @include _767
      font-size: 18px
      line-height: 28px

    @include _575
      font-size: 16px
      line-height: 27px

.why
  padding: 410px 0 150px 0
  
  &__inner
    display: flex
    align-items: center
    overflow: hidden

  &__left
    width: 776px

  &__right
    max-width: 825px

  &__items
    list-style: none
    max-width: 796px
    width: 100%

  &__item
    padding-left: 111px
    position: relative

    &:not(:last-child)
      padding-bottom: 37px

    &:first-child
      margin-left: 53px

      .why__numb
        background-image: url('../img/icons/why-one.svg')

    &:nth-child(2)
      .why__numb
        background-image: url('../img/icons/why-three.svg')
        background-position: left

    &:last-child
      margin-left: 12px

      .why__numb
        background-image: url('../img/icons/why-two.svg')
        padding: 0 14px 6px 0

  &__numb
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    background-repeat: no-repeat
    background-position: center
    font-size: 48px
    font-weight: 600
    max-width: 92px
    width: 100%
    max-height: 83px
    height: 100%
    left: -40px
    opacity: 0
    top: 0

    &--visible
      left: 0
      opacity: 1
      transition: left 1s, opacity 1s
      transition-delay: .3s

  &__item-title
    position: relative
  
  &__item-title
    font-size: 32px
    font-style: normal
    font-weight: 600
    line-height: normal

  &__item-text
    display: block
    font-size: 18px
    font-style: normal
    font-weight: 300
    line-height: normal

.portfolio
  padding-bottom: 175px
  padding-top: 150px
  overflow: hidden

  &__inner
    position: relative
    padding: 92px 0 105px

  &__bg
    display: block
    position: absolute
    max-width: 796px
    width: 100%
    height: 100%
    background-color: #FCFCFC
    border-radius: 91px
    left: 0
    top: 0

  &__work-title
    position: relative
    display: inline-block
    background: linear-gradient(137deg, #3F82D0 0%, rgba(1, 240, 255, 0.92) 100%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin-left: 161px
    margin-bottom: 49px

  &__slider
    overflow: visible

  &__project
    display: flex
    margin-left: -200px

  &__item
    display: flex
    justify-content: center
    align-items: center
    max-width: 774px
    width: 100%
    min-height: 540px
    background-color: rgba(255, 255, 255, 0.40)
    backdrop-filter: blur(50px)
    border-radius: 77px

  &__item-title
    color: #3F82D0
    font-size: 48px
    font-weight: 600

.contacts
  padding: 356px 0 393px 0

  &__inner
    display: flex
    align-items: center 

  &__title
    padding-bottom: 14px
    font-size: 48px
    font-style: normal
    font-weight: 700
    line-height: normal

  &__text 
    color: #F8F8F8
    font-family: Manrope
    font-size: 24px
    font-style: normal
    font-weight: 300
    line-height: normal
    padding-bottom: 43px

    & p
      &:not(:last-child)
        margin-bottom: 43px

  &__btn
    position: relative
    border-radius: 25px
    border: 3px solid #FFF
    padding: 17px 5px 17px 25px

    &::before
      content: ''
      position: absolute
      width: 40px
      height: 40px
      background-repeat: no-repeat
      background-size: contain
      left: 18px
      top: 50%
      transform: translateY(-50%)
      background-image: url("../img/icons/telegram.png")

    &:first-child
      margin-right: 45px 
      
    &:last-child
      &::before
        width: 50px
        height: 50px
        background-image: url("../img/icons/whats up.png")

  &__num
    display: inline-block
    color: #fff
    padding-bottom: 6px
    margin-top: 43px
    margin-bottom: 20px

.decision-top
  padding-bottom: 80px
  margin-top: -130px

  &__inner
    display: flex
    justify-content: space-between
    align-items: center

  &__left
    max-width: 790px
    width: 100%

  &__text
    font-weight: 200
    line-height: 66px

  &__bottom-text
    font-size: 24px
    font-weight: 300
    line-height: 33px
    margin-bottom: 48px

  &__btn
    max-width: 240px
    padding: 19px 5px

    &--first
      margin-right: 33px

    &--second
      background-color: rgba(4, 161, 171, 0.92)
      box-shadow: 0px 4px 30px 0px rgba(0, 70, 74, 0.30)
      color: #ffffff

  &__right
    max-width: 800px
    pointer-events: none

.tasks
  padding: 80px 9px 200px

  &__title
    text-align: center
    margin-bottom: 100px
    
  &__items
    display: flex
    justify-content: space-between

  &__item
    max-width: 432px
    padding-top: 168px
    position: relative

    &::before
      content: ''
      position: absolute
      max-width: 150px
      width: 100%
      max-height: 150%
      height: 100%
      background-repeat: no-repeat
      background-size: contain
      top: 0
      left: 50%
      transform: translateX(-50%)

    &:first-child
      &::before
        background-image: url('../img/icons/tasks-1.png')

    &:nth-child(2)
      margin: 0 30px  

      &::before
        background-image: url('../img/icons/tasks-2.png')

    &:last-child
      &::before
        background-image: url('../img/icons/tasks-3.png')

  &__item-title
    font-size: 40px
    font-weight: 700
    line-height: normal
    margin-bottom: 18px
    text-align: center

  &__item-text
    font-size: 24px
    font-weight: 200
    text-align: center
    line-height: normal

.services
  padding: 200px 0 125px
  overflow: hidden

  &__wrapper
    position: relative

  &__bg-three
    display: block
    position: absolute
    max-width: 238px
    width: 100%
    max-height: 238px
    height: 100%
    bottom: 5%
    left: -8%

  &__bg-smallBox
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    z-index: 4
    // transition: transform 1s

    // &:hover
    //   transform: rotate(360deg) 
    //   transition: transform 1s

  &__bg-small
    position: absolute
    right: 10%
    top: 25%

  &__inner
    padding: 173px 118px 83px 118px
    background-color: #ffffff
    border-radius: 114px
    box-shadow: 0px 4px 100px 0px #234C7B
    position: relative
    z-index: 3

  &__bg-one,
  &__bg-two,
    display: block
    position: absolute
    max-width: 238px
    width: 100%
    max-height: 238px
    height: 100%
    // transition: transform 1s

    // &:hover
    //   transform: rotate(360deg)
    //   transition: transform 1s

  &__bg-one
    top: 51px
    left: -6%

  &__bg-two
    right: -9%
    top: 30%
    
  &__title
    background-image: linear-gradient(106deg, #14BCF0 0%, #38A4EA 100%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-transform: none
    text-align: center
    margin-bottom: 120px

  &__items
    display: grid
    grid-template-columns: repeat(3, minmax(min-content, max-content))
    justify-content: space-between
    margin-bottom: 130px
    gap: 87px 60px

  &__item
    border-radius: 50px
    background-color: #fff
    box-shadow: 0px 4px 80px 0px rgba(83, 217, 226, 0.92)
    max-width: 332px
    width: 100%
    padding: 107px 12px 31px 12px
    text-align: center
    color: #000000

  &__box
    margin-bottom: 26px

  &__item-title
    font-size: 24px
    font-weight: 600
    line-height: normal
    margin-bottom: 30px
    min-height: 160px

  &__price
    display: block
    font-size: 24px
    margin-bottom: 64px

  &__btn
    display: inline-block
    background-color: transparent
    font-size: 20px
    line-height: normal
    font-weight: 300
    color: #000
    position: relative

    &:hover
      &::before
        opacity: 1
        transition: opacity .3s

    &::before
      content: ''
      position: absolute
      width: 100%
      height: 2px
      background-image: linear-gradient(90deg, #3F82D0 0%, rgba(1, 240, 255, 0.92) 100%)
      bottom: 0
      left: 0
      opacity: 0
      transition: opacity .3s

  &__bottom-box
    text-align: center

  &__bottom-btn
    max-width: 276px
    font-size: 36px
    line-height: normal
    border-radius: 20px
    background-image: linear-gradient(139deg, rgba(83, 217, 226, 0.92) 0%, #3F82D0 100%)
    box-shadow: 0px 4px 50px 0px #0F58AE
    color: #fff
    padding: 0 5px

.training
  padding: 125px 0 100px

  &__inner
    display: flex
    justify-content: space-between
    align-items: center

  &__left
    margin-right: 60px
    max-width: 691px
    position: relative

  &__img
    position: relative
    left: 50%
    transform: translateX(-50%)

  &__right
    max-width: 836px
    width: 100%
    text-align: end

  &__title
    line-height: normal
    margin-bottom: 34px

  &__text
    font-size: 24px
    font-weight: 300
    line-height: normal
    margin-bottom: 56px

.bottom-form
  padding: 100px 0 234px

  &__inner
    display: flex
    justify-content: space-between
    align-items: center

  &__left
    max-width: 850px
    width: 100%

  &__title
    margin-bottom: 100px

  &__right
    max-width: 700px

.form
  &__label
    display: block 
    margin-bottom: 48px

  &__input
    max-width: 546px
    width: 100%
    min-height: 90px
    padding: 0 31px
    background-color: transparent
    border: 3px solid #FFF
    border-radius: 30px
    font-size: 32px
    font-weight: 300
    color: #fff
    outline: none

    &::placeholder
      font-size: 32px
      font-weight: 300
      color: #fff

  &__btn
    font-size: 32px
    font-weight: 300
    padding: 16px 5px
    margin-right: 24px

  &__text
    font-size: 24px
    font-weight: 300
    line-height: normal

.footer
  padding: 103px 0 71px
  background-color: #3F82D0

  &__inner
    display: flex
    justify-content: space-between
    align-items: center

  &__phone
    font-size: 24px
    font-weight: 800
    line-height: normal
    color: #fff

.edu
  padding: 200px 0 180px

  &__title
    text-align: center
    text-transform: none
    font-size: 63px

.study-about
  padding: 180px 0 90px

  &__inner
    background-color: #fff
    border-radius: 114px
    padding: 82px 138px 119px 138px

  &__title
    font-size: 48px
    font-weight: 700
    line-height: normal
    background-image: linear-gradient(106deg, #3F82D0 0%, rgba(1, 240, 255, 0.92) 100%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-align: center
    padding-bottom: 28px
  
  &__text
    color: #000
    font-size: 24px
    font-weight: 300
    line-height: normal

  &__box
    text-align: center

  &__img
    width: 100%

.steps
  padding: 90px 0 150px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center 
    gap: 54px
    list-style: none

  &__item
    max-width: 492px
    width: 100%
    min-height: 229px
    flex-shrink: 0
    border-radius: 30px
    padding: 40px 0 22px 25px
    background-color: rgba(255, 255, 255, 0.30)

    &--hidden
      opacity: 0
      width: 2px

      @include _1650
        display: none

  &__item-title
    margin-bottom: 18px
    
  &__item-text
    color: #FFF
    font-size: 16px
    font-weight: 300
    line-height: normal

.briefly
  padding: 150px 0 120px

  &__inner
    display: flex
    justify-content: space-between
    align-items: center

  &__left
    max-width: 823px
    width: 100%
    position: relative

  &__img
    position: relative
    left: 50%
    transform: translateX(-50%)

  &__right
    max-width: 769px

  &__text
    color: #FFF
    font-size: 30px
    font-weight: 400
    line-height: normal

.reviews
  padding: 120px 0 130px

  &__inner
    min-width: 1600px
    width: 100%
    height: 100%
    min-height: 700px
    border-radius: 114px
    background-color: rgba(255, 255, 255, 0.30)
    backdrop-filter: blur(50px)
   

  &__title
    color: #FFF
    font-size: 36px
    font-style: normal
    font-weight: 600
    line-height: normal
    text-align: center

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center 
    gap: 54px
    list-style-type: none

  &__item
    text-align: center
    max-width: 485px
    width: 100%
    height: auto
    flex-shrink: 0
    padding: 40px 53px 62px 53px
    background-color: rgba(255, 255, 255, 0.50);
  