@import fonts
@import vars
@import reset
@import libs
@import global

.main-wrapper
  background-image: linear-gradient(121deg, #438BDF 0%, rgba(83, 217, 226, 0.92) 100%)

.header
  padding: 26px 0

  &__inner
    display: flex
    align-items: center
    justify-content: space-between

  &__right
    display: flex
    align-items: center
    max-width: 430px
    width: 100%    

  &__num
    display: block
    font-weight: 300
    margin-right: 32px
    color: #fff

  &__btn
    font-size: 16px

.logo
  margin-bottom: 7px

.menu
  margin: 0 20px

  &__list
    display: flex
    align-items: center

  &__item
    &:not(:last-child)
      margin-right: 76px

  &__link
    color: #fff
    font-weight: 300

.top
  padding: 100px 0 135px

  &__inner
    display: flex
    justify-content: space-between

  &__left
    max-width: 700px
    width: 100%

  &__title
    margin-bottom: 16px

  &__subtitle
    display: block
    font-size: 24px
    font-weight: 300
    margin-bottom: 46px

  &__box
    display: flex

  &__btn
    padding: 18.5px 5px
    line-height: 158%

    &--first
      max-width: 202px
      margin-right: 32px

  &__right
    margin-top: -185px
    max-width: 900px

  &__img
    width: 100%

.about
  padding-top: 135px

  &__inner
    background-color: #fff
    border-top-left-radius: 100px
    border-top-right-radius: 100px
    padding: 62px 127px 0 127px
    filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.25))
    color: #000000
    overflow: hidden

  &__title
    color: #3F82D0

  &__text
    margin-bottom: 74px
    line-height: 33px
    font-size: 24px

  &__subtitle
    display: block
    margin-bottom: 45px
    font-size: 24px

  &__items
    display: flex
    justify-content: space-between
    margin-bottom: 52px

  &__item
    position: relative
    left: 0
    max-width: 341px
    width: 100%
    border-radius: 35px

    &:hover
      .about__item-content
        background-color: #3F82D0
        transition: background-color .3s

    &::after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(255,255,255, 0.2)
      backdrop-filter: blur(50px)
      top: 0
      left: 0
      z-index: 2
      border-radius: 35px
      
    &:first-child
      .about__item-content
        &::before
          content: ''
          position: absolute
          min-width: 1585px
          min-height: 475px
          height: 100%
          background-image: url('../img/about-bg.svg')
          background-repeat: no-repeat
          background-size: cover
          left: 100%
          top: -40px
          z-index: 1
          pointer-events: none
          transform: translateX(-34%)

      .about__item-text
        &::before
          background-image: url('../img/icons/about-2.png')

    &:nth-child(2)
      margin: 0 30px

      .about__item-text
        &::before
          background-image: url('../img/icons/about-1.png')

    &:last-child
      .about__item-text
        &::before
          background-image: url('../img/icons/about-3.png')

  &__item-content
    border-radius: 35px
    width: 100%
    height: 100%
    padding: 79px 15px 97px 15px
    background-color: #53D9E2
    transition: background-color .3s

  &__item-text
    position: relative
    font-size: 35px
    font-weight: 700
    line-height: 48px
    padding-top: 110px
    color: #ffffff
    text-align: center
    z-index: 3

    &::before
      content: ''
      position: absolute
      background-repeat: no-repeat
      background-size: contain
      width: 78px
      height: 78px
      top: 0
      left: 50%
      transform: translateX(-50%)

  &__box
    text-align: center

  &__btn
    background-image: linear-gradient(113deg, #3F82D0 0%, rgba(0, 213, 227, 0.63) 100%)
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset
    color: #FFF

.team
  &__wrapper
    position: relative

    &::before
      content: ''
      position: absolute
      width: 100%
      max-height: 230px
      height: 100%
      background-color: #FFF
      left: 0
      top: 0
      z-index: 2
      border-bottom-right-radius: 151px 
      border-bottom-left-radius: 151px

  &__inner
    position: relative
    padding: 240px 185px 115px 185px
    border-bottom-right-radius: 151px 
    border-bottom-left-radius: 151px
    background-color: rgba(255, 255, 255, 0.20)
    backdrop-filter: blur(50px)
    z-index: 3

  &__title
    margin-bottom: 98px
    text-align: center

  &__items
    display: flex
    flex-wrap: wrap
    justify-content: center 
    gap: 125px
    margin-bottom: 100px
    
  &__item
    border-radius: 35px
    background-color: #fff
    padding: 32px
    max-width: 318px

  &__box
    margin-bottom: 36px

  &__img
    width: 100%
    border-radius: 25px
    
  &__name
    color: black
    margin-bottom: 26px
    font-weight: 600
    margin-left: 3px

  &__post
    display: block
    color: black
    margin-left: 3px

  &__text
    text-align: center
    line-height: 33px

.why
  &__inner
    display: flex
    align-items: center